body {
    background: rgb(57, 58, 32);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}
p {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 650px;
    margin: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.562);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}